page-addstudent {

	.datetime-ios
	{
	   padding-left: 0px !important;
	}
	
	.select-ios
	{
	   padding-left: 0px !important;
	}
	
	ion-select
	{
		max-width:80% !important;	
	}
	
	
	
	.item-cover
	{
	   height: 1px !important;
	}

}
